<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate Platform</title>
    <link rel="shortcut icon" href="../public/images/PageLogo/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
      <meta
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/realestate.css"
    />
  </head>
  <body>
    <section class="body1" <!--Header-->
      <div id="navbar">
        <div class="logo">
          <a
            ><img
              src="../../public/images/PageLogo/logo_main.png"
              width="inherit;"
          /></a>
        </div>
        <div><a href="">Buy</a></div>
        <div><a href="">Rent</a></div>
        <div><a href="">Sell</a></div>
        <div><a href="">Agent Finder</a></div>
        <div><a href="../../html/signin.html" class="abc">Sign in</a></div>
        <div><a href="" class="abc">Help</a></div>
      </div>
      <!--Main-->
      <div id="mainpage">
        <div class="findhome">
          <img src="../../public/images/lancastereden.jpg" class="imgfinding" />
          <div class="text">
            <h2>
              <strong>Reimagine home</strong>
            </h2>
            <h3>High persuasion , High quality</h3>
          </div>
          <div class="search-box">
            <input
              class="search-txt"
              type="text"
              name=""
              placeholder="Enter an address , neighborhood , city or Zip code"
            />
            <a class="search-btn" href="#">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
        <h2 class="slogan">
          We’re reimagining how you buy, sell and rent. It’s now
        </h2>
        <h2 class="slogan">
          easier to get into a place you love. So let’s do this, together.
        </h2>
        <hr width="15%" text-align="center" color="red " />
        <div class="part">
          <div class="whitespace">
            <img
              src="../../public/images/pictures/buyhome.png"
              class="buyhomeimg"
            />
            <p class="buyhometext">Buy a Home</p>
            <p class="buyhometext1">
              Find your place with an immersive photo experience and the most
              listings, including things you won’t find anywhere else.
            </p>
            <button class="searchbuy"><a>Search homes</a></button>
          </div>
          <div class="whitespace1">
            <img
              src="../../public/images/pictures/sellhome.png"
              class="buyhomeimg"
            />
            <p class="buyhometext">Sell a Home</p>
            <p class="buyhometext1">
              Whether you sell with new Minutes Offers or take another approach,
              we’ll help you navigate the path to a successful sale.
            </p>
            <button class="searchsell"><a>See your options</a></button>
          </div>
          <div class="whitespace2">
            <img
              src="../../public/images/pictures/renthome.png"
              class="buyhomeimg"
            />
            <p class="buyhometext">Rent a Home</p>
            <p class="buyhometext1">
              We’re creating a seamless online experience – from shopping on the
              largest rental network, to applying, to paying rent.
            </p>
            <button class="searchrent"><a>Find rentals</a></button>
          </div>
        </div>
      </div>
      <!--footer-->
      <div id="footer" class="footers" role="contentinfo">
        <div class="inner">
          <div class="logofooter">
            <a href="././homepage.html" class="footerlogo" id="logofooters">
              <img
                src="../../public/images/PageLogo/logo_main.png"
                class="footerimage"
              />
            </a>
          </div>
          <div id="footermenu" class="footermenu" role="navigation">
            <h2 class="titleblock"></h2>
            <ul class="menu">
              <li class="menuitem">
                <a href="././contactestate.html" class="contact">Contact us</a>
              </li>
              <li class="menuitem">
                <a href="#" class="term">Terms and Conditions</a>
              </li>
              <li class="menuitem">
                <a href="#l" class="privacy">Privacy Policy</a>
              </li>
              <li class="menuitem">
                <a href="#" class="career">Careers</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="social" class="socialmedia">
          <h1>Follow us:</h1>
          <ul class="footersocial">
            <div>
              <a
                href="https://www.facebook.com/nguyenhuycuong.nguyenhuycuong.33"
                class="icon-fb"
              >
                <i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://www.instagram.com/binhanred/ " class="icon-insta"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://twitter.com/CuongHuyNg" class="icon-twit"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a
                href="https://www.youtube.com/channel/UC0HdtBwDacmZQxQtM5qGw8Q/videos?view=57&flow=grid"
                class="icon-youtb"
                ><i class="fab fa-youtube" aria-hidden="true"></i
              ></a>
            </div>
          </ul>
        </div>
        <div class="container">
          <form action="">
            <h1>Join Our Newsletter :</h1>
            <div class="email-box">
              <i class="far fa-envelope"></i>
              <input
                class="tbox"
                type="email"
                name=""
                value=""
                placeholder="Enter your Email"
              />
              <button class="btn1" type="button" name="button">
                Subscribe
              </button>
            </div>
          </form>
        </div>
        <div>
          <a class="gotopbtn" href="#">
            <i class="fas fa-arrow-up"> </i>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
