html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	margin: 0px auto;
}
section.body1 {
	background: url(bg.jpg) no-repeat;
	background-size: cover;
	background-color: #e3e5e6;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
a {
	text-decoration: none;
}
.resetFormat {
	text-decoration: none;
}
/* Header*/
#navbar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	background-color: #081f2c;
	overflow: hidden;
	width: 100%;
	height: 100px;
	margin-bottom: 30px;
	font-size: 20px;
	z-index: 1000;
}
#navbar div {
	display: flex;
	align-items: center;
	margin-left: 3px;
	height: 90%;
	border-bottom: 7px solid transparent;
}
#navbar div:first-child {
	margin-right: 10px;
}
#navbar div:first-child:after,
#navbar div:nth-last-child(2):after {
	content: "";
}
#navbar div a {
	color: white;
	text-decoration: none;
}
#navbar div:first-child::before:hover,
#navbar div:nth-last-child(2) {
	border-bottom: 7px solid#00a9ce;
}
#navbar div:hover a {
	color: #dcdcdc;
}
#navbar div:last-child:hover,
#navbar div:first-child:hover {
	border-bottom: 7px solid transparent;
}
#navbar div:after {
	content: "|";
	margin-left: 5px;
	margin-right: 5px;
	color: #00bfff;
}
.search-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 30px;
	border-radius: 40px;
	padding: 10px;
	margin-left: 400px !important;
}
.search-btn {
	color: #e84118;
	float: right;
	width: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-weight: lighter;
	border-color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0;
}
.search-box:hover > .search-txt {
	width: 200px;
	padding: 0 6px;
	text-decoration: none;
	font-weight: bolder;
}
.header-social {
	display: flex;
	position: relative;
	margin-left: 50px;
	margin: 0;
	border: none;
}
#navbar div:last-child {
	margin-left: auto;
}
#navbar div:last-child:after {
	margin-left: 5px;
	content: "";
}
.logo {
	width: 100px;
	height: 100%;
}
.logo img {
	position: absolute;
	width: 100px;
	top: 0px;
	left: 0px;
}
.abc {
	font-size: 20px;
	font-weight: lighter;
}
/*Main*/
#main {
	max-width: 100%;
	min-width: 50%;
	clear: both;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#bigfb {
	background-color: #081f2c;
	width: 100%;
	height: 60px;
	text-align: left;
	margin-top: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#bigfb:hover {
	color: white;
}
.football {
	color: white;
	font-weight: bold;
	padding-top: 5px;
	font-size: 30px;
}
.football:hover {
	color: #d3d3d3;
	text-decoration: none;
}
.whitespace {
	display: relative;
	background-color: white;
	height: auto;
	width: 100%;
}
.whitespace ul {
	list-style-type: disc;
}
.whitespace li {
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
}
/*Footer*/
.footers {
	background-color: #ff0000;
	margin-top: 0px;
	color: #fff;
	display: block;
	border-top: 15px solid #8b0000;
	padding: 0;
}
#navbar:before,
#footer:before {
	content: "";
	display: table;
}
#navbar:after,
#footer:after {
	content: "";
	display: table;
	clear: both;
	box-sizing: border-box;
}
.footers > .inner {
	max-width: 1258px;
	grid-column: 1;
	grid-row: 1;
	margin-left: 30px;
}
#footer.inner {
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
.footers.inner {
	position: relative;
	padding: 0;
}
div {
	display: block;
}
.footers.footerlogo {
	margin-bottom: 20px;
	margin-left: -10px;
	margin-top: 0px;
	box-sizing: border-box;
}
.footerimage {
	width: 150px;
	height: 150px;
}
/**a.link,a:visited{
    color: #e10a0a;
    text-decoration: none;
  }**/
.footers a {
	transition: all 0.3s ease-out;
}
.footers.footermenu {
	width: 30%;
	float: left;
	clear: none;
	margin-bottom: 25px;
	margin-top: 40px;
}
.footermenu {
	margin-bottom: 1.625rem;
	clear: both;
}
.footers.footermenu.titleblock {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
h2 {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: normal;
}
#footermenu ul {
	padding: 0;
	margin: 0;
}
ul {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	list-style: none;
	margin: 1.625em 0;
}
#footermenu ul li {
	margin-bottom: 30px;
	padding-bottom: 0;
	list-style: none;
}
#footermenu a {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	line-height: 5px;
	text-decoration: none;
	margin: 10px 0;
	color: #fff;
}
.footermenu li:hover a {
	border-bottom: 0.5px solid white;
}
ul li {
	font-size: 20px;
	line-height: 5px;
}
/** li{
     display: list-item;
   }**/
.menu {
	margin-top: 20px;
}
.footers {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 200px;
	grid-column-start: 1;
	grid-column-end: 4;
}
.socialmedia {
	position: relative;
	top: 1px;
	left: 70%;
	transform: translate(-53%, -50%);
	grid-column: 2;
}
.socialmedia ul div {
	list-style: none;
	display: inline-block;
	margin: 20px 10px 80px;
	font-size: 30px;
	padding: 1px;
	color: white;
	transition: 0.5s;
}
.socialmedia a {
	color: white;
}
div:hover {
	transition: 0.3s;
}
#social div:hover a {
	color: gray;
}
.container {
	background: url(bg.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	color: white;
	grid-column: 3;
	margin-top: -60px;
}
.container h1 {
	font-size: 30px;
}
.email-box {
	height: 40px;
	display: flex;
	justify-content: center;
}
.email-box i {
	background: #2f3542;
	width: 40px;
	line-height: 40px;
	font-size: 30px;
	padding: 0 5px 0 5px;
}
.tbox,
.btn1 {
	border: none;
	outline: none;
}
.tbox {
	width: 0px;
	transition: 0.6s;
}
.email-box:hover > .tbox,
.tbox:focus {
	width: 260px;
	padding: 0 10px;
}
.btn1 {
	background: #2f3542;
	color: white;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 25px;
}
.btn1:hover {
	border: 0.5px solid white;
}
.gotopbtn {
	grid-column: 4;
	display: block;
	position: relative;
	width: 120px;
	height: 50px;
	margin-top: -160px;
	float: right;
	background: black;
	bottom: 40px;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
}
.gotopbtn:hover {
	color: white;
	text-decoration: none;
	background-color: #ffa07a;
}
.backtop {
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
}
