<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate Platform</title>
    <link rel="shortcut icon" href="//images/PageLogo/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/lib/fontawesome-free-5.8.1-web/css/all.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/billingafterpost.css"
    />
    <link href="/font/EncodedSansExpanded.css" rel="stylesheet" />
    <link href="/font/OpenSansCondensed300.css" rel="stylesheet" />
  </head>

  <body>
    <section class="body1">
      <!--HEADER-->
      <div id="navbar">
        <div class="logo">
          <a href="./realestate"
            ><img src="/images/PageLogo/logo_main.png" width="inherit;"
          /></a>
        </div>
        <div><a href="">Buy</a></div>
        <div><a href="">Rent</a></div>
        <div><a href="">Sell</a></div>
        <div><a href="">Agent Finder</a></div>
        <div><a href="html/signin" class="abc">Sign in</a></div>
        <div><a href="" class="abc">Help</a></div>
      </div>
      <!--MAINPAGE-->
      <div class="mainmenu">
        <p class="titlethanhtoan">Xác nhận thanh toán</p>
        <p class="servicesinfo">Thông tin dịch vụ</p>
        <div class="tableinfo">
          <table style="width: 50%;" class="propertyinfo">
            <tr>
              <th>Loại tin đăng</th>
              <th>Thời gian hiển thị</th>
              <th>Thành tiền</th>
            </tr>
            <tr>
              <td>Gói thông thường</td>
              <td>1/7-1/8</td>
              <td>0đ</td>
            </tr>
            <tr>
              <td>Tổng cộng</td>
              <td></td>
              <td>0đ</td>
            </tr>
          </table>
        </div>
        <div class="camket">
          <input type="checkbox" name="checklegal" />Tôi cam kết đã đọc toàn bộ
          <a href="#"><span class="dieukhoan">điều khoản</span></a> về vấn đề
          này
          <br />
          <a href="#">
            <button type="button" class="save">Thanh toán</button>
          </a>
        </div>
      </div>
      <!--FOOTER-->
      <div id="footer" class="footers" role="contentinfo">
        <div class="inner">
          <div class="logofooter">
            <a href="././homepage" class="footerlogo" id="logofooters">
              <img src="/images/PageLogo/logo_main.png" class="footerimage" />
            </a>
          </div>
          <div id="footermenu" class="footermenu" role="navigation">
            <h2 class="titleblock"></h2>
            <ul class="menu">
              <li class="menuitem">
                <a href="././contactestate" class="contact">Contact us</a>
              </li>
              <li class="menuitem">
                <a href="#" class="term">Terms and Conditions</a>
              </li>
              <li class="menuitem">
                <a href="#l" class="privacy">Privacy Policy</a>
              </li>
              <li class="menuitem">
                <a href="#" class="career">Careers</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="social" class="socialmedia">
          <h1>Follow us:</h1>
          <ul class="footersocial">
            <div>
              <a
                href="https://www.facebook.com/nguyenhuycuong.nguyenhuycuong.33"
                class="icon-fb"
              >
                <i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://www.instagram.com/binhanred/ " class="icon-insta"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://twitter.com/CuongHuyNg" class="icon-twit"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a
                href="https://www.youtube.com/channel/UC0HdtBwDacmZQxQtM5qGw8Q/videos?view=57&flow=grid"
                class="icon-youtb"
                ><i class="fab fa-youtube" aria-hidden="true"></i
              ></a>
            </div>
          </ul>
        </div>
        <div class="container">
          <form action="">
            <h1>Join Our Newsletter :</h1>
            <div class="email-box">
              <i class="far fa-envelope"></i>
              <input
                class="tbox"
                type="email"
                name=""
                value=""
                placeholder="Enter your Email"
              />
              <button class="btn1" type="button" name="button">
                Subscribe
              </button>
            </div>
          </form>
        </div>
        <div>
          <a class="gotopbtn" href="#">
            <i class="fas fa-arrow-up"> </i>
          </a>
        </div>
      </div>
    </section>
    <
  </body>
</html>
