<!DOCTYPE html>
<html>

<head>
  <title>Real Estate Platform</title>
  <link rel="shortcut icon" href="/images/PageLogo/logo.png" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/buy.css" />
  <link rel="stylesheet" href="/lib/fontawesome-free-5.8.1-web/css/all.min.css" />

  <link href="/font/EncodedSansExpanded.css" rel="stylesheet" />
  <link href="/font/OpenSansCondensed300.css" rel="stylesheet" />
</head>

<body>
  <!---Header-->
  <%- include navbar.ejs %>

  <!--Main-->
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Booking Property</h1>
      <div class="booking">
        <input type="text" id="text" class="aa" name="firstName" placeholder="First Name" />
        <input type="text" id="text" class="aa" name="lirstName" placeholder="Last Name" />
        <input type="email" class="aa" id="email" name="email" placeholder="Email" />
        <input type="tel" id="telephone" name="telephone" class="aa" placeholder="Phone Number" />
        <div class="idcard">
          <p class="cmnd">Identification Card :</p>
          <input type="file" id="file" name="file" class="file aa" value="fileUpload" />
        </div>
      </div>
      <div class="edit">
        <button type="button" class="save">Book</button>
        <a href="../chooseProperty">
          <button type="button" class="save">Cancel</button></a>
      </div>
    </form>
  </div>
  <!--Footers-->
  <%- include footer.ejs %>

</body>

</html>