<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Real Estate Platform</title>
    <link rel="shortcut icon" href="/public/images/PageLogo/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/checkaccount.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="body1">
      <!--Header-->
      <div id="navbar">
        <div class="logo">
          <a href="./realestate"
            ><img
              src="../../public/images/PageLogo/logo_main.png"
              width="inherit;"
          /></a>
        </div>
        <div><a href="">Buy</a></div>
        <div><a href="">Rent</a></div>
        <div><a href="">Sell</a></div>
        <div><a href="">Agent Finder</a></div>
        <div><a href="/signin" class="abc">Sign in</a></div>
        <div><a href="" class="abc">Help</a></div>
      </div>
      <!--MainPage-->
      <div class="main">
        <p class="chonbank">Chọn ngân hàng của bạn</p>
        <div class="bank">
          <div class="listbank1">
            <a href="../TeacherPhung/interbank">
              <img
                src="../../public/images/WebcoPhung/banking/viettinbank.png"
                class="viettinbank"
              />
            </a>
            <a href=""
              ><img
                src="../../public/images/WebcoPhung/banking/sacom.jpg"
                class="sacom"
              />
            </a>
            <a href="">
              <img
                src="../../public/images/WebcoPhung/banking/acb.jpg"
                class="acb"
              />
            </a>
            <a href="">
              <img
                src="../../public/images/WebcoPhung/banking/bidv.jpg"
                class="bidv"
              />
            </a>
            <a href="">
              <img
                src="../../public/images/WebcoPhung/banking/agri.jpg"
                class="argi"
              />
            </a>
          </div>
        </div>
        <a href="../TeacherPhung/checkpackages">
          <button type="button" class="back">Back</button>
        </a>
      </div>
      <!--Footer-->
      <div id="footer" class="footers" role="contentinfo">
        <div class="inner">
          <div class="logofooter">
            <a
              href="/TeacherPhung/realestate"
              class="footerlogo"
              id="logofooters"
            >
              <img
                src="../../public/images/PageLogo/logo_main.png"
                class="footerimage"
              />
            </a>
          </div>
          <div id="footermenu" class="footermenu" role="navigation">
            <h2 class="titleblock"></h2>
            <ul class="menu">
              <li class="menuitem">
                <a href="./contactestate" class="contact">Contact us</a>
              </li>
              <li class="menuitem">
                <a href="#" class="term">Terms and Conditions</a>
              </li>
              <li class="menuitem">
                <a href="#l" class="privacy">Privacy Policy</a>
              </li>
              <li class="menuitem">
                <a href="#" class="career">Careers</a>
              </li>
            </ul>
          </div>
=======

<head>
  <title>Real Estate Platform</title>
  <link rel="shortcut icon" href="/public/images/PageLogo/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/lib/fontawesome-free-5.8.1-web/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/checkaccount.css" />
  <link href="/font/EncodedSansExpanded.css" rel="stylesheet" />
  <link href="/font/OpenSansCondensed300.css" rel="stylesheet" />
</head>

<body>
  <section class="body1">
    <!--Header-->
    <div id="navbar">
      <div class="logo">
        <a href="./realestate"><img src="/images/PageLogo/logo_main.png" width="inherit;" /></a>
      </div>
      <div><a href="">Buy</a></div>
      <div><a href="">Rent</a></div>
      <div><a href="">Sell</a></div>
      <div><a href="">Agent Finder</a></div>
      <div><a href="/signin" class="abc">Sign in</a></div>
      <div><a href="" class="abc">Help</a></div>
    </div>
    <!--MainPage-->
    <div class="main">
      <p class="chonbank">Chọn ngân hàng của bạn</p>
      <div class="bank">
        <div class="listbank1">
          <a href="../interbank">
            <img src="/images/WebcoPhung/banking/viettinbank.png" class="viettinbank" />
          </a>
          <a href=""><img src="/images/WebcoPhung/banking/sacom.jpg" class="sacom" />
          </a>
          <a href="">
            <img src="/images/WebcoPhung/banking/acb.jpg" class="acb" />
          </a>
          <a href="">
            <img src="/images/WebcoPhung/banking/bidv.jpg" class="bidv" />
          </a>
          <a href="">
            <img src="/images/WebcoPhung/banking/agri.jpg" class="argi" />
          </a>
        </div>
      </div>
      <a href="../checkpackages">
        <button type="button" class="back">Back</button>
      </a>
    </div>
    <!--Footer-->
    <div id="footer" class="footers" role="contentinfo">
      <div class="inner">
        <div class="logofooter">
          <a href="/realestate" class="footerlogo" id="logofooters">
            <img src="/images/PageLogo/logo_main.png" class="footerimage" />
          </a>
>>>>>>> master
        </div>
        <div id="footermenu" class="footermenu" role="navigation">
          <h2 class="titleblock"></h2>
          <ul class="menu">
            <li class="menuitem">
              <a href="./contactestate" class="contact">Contact us</a>
            </li>
            <li class="menuitem">
              <a href="#" class="term">Terms and Conditions</a>
            </li>
            <li class="menuitem">
              <a href="#l" class="privacy">Privacy Policy</a>
            </li>
            <li class="menuitem">
              <a href="#" class="career">Careers</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="social" class="socialmedia">
        <h1>Follow us:</h1>
        <ul class="footersocial">
          <div>
            <a href="https://www.facebook.com/nguyenhuycuong.nguyenhuycuong.33" class="icon-fb">
              <i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://www.instagram.com/binhanred/ " class="icon-insta"><i class="fab fa-instagram"
                aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://twitter.com/CuongHuyNg" class="icon-twit"><i class="fab fa-twitter"
                aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://www.youtube.com/channel/UC0HdtBwDacmZQxQtM5qGw8Q/videos?view=57&flow=grid"
              class="icon-youtb"><i class="fab fa-youtube" aria-hidden="true"></i></a>
          </div>
        </ul>
      </div>
      <div class="container">
        <form action="">
          <h1>Join Our Newsletter:</h1>
          <div class="email-box">
            <i class="far fa-envelope"></i>
            <input class="tbox" type="email" name="" value="" placeholder="Enter your Email" />
            <button class="btn1" type="button" name="button">
              Subscribe
            </button>
          </div>
        </form>
      </div>
      <div>
        <a class="gotopbtn" href="#">
          <i class="fas fa-arrow-up"> </i>
        </a>
      </div>
    </div>
  </section>
</body>

</html>