<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Real Estate Platform</title>
    <link rel="shortcut icon" href="/public/images/PageLogo/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"/>
      <meta
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/contactestate.css"
    />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Frank+Ruhl+Libre&display=swap" rel="stylesheet">
  </head>
  <body><!---Header-->
      <section class="body1">
        <div id="navbar">
            <div class="logo">
              <a href="./realestate"
                ><img src="../../public/images/PageLogo/logo_main.png" width="inherit;"
              /></a>
            </div>
            <div><a href="">Buy</a></div>
            <div><a href="">Rent</a></div>
            <div><a href="">Sell</a></div>
            <div><a href="">Agent Finder</a></div>
            <div><a href="/signin" class="abc">Sign in</button></a></div>
            <div><a href="" class="abc">Help</a></div>
          </div>
          <!---Main-->
          <div class="contactBody">
            <div class="contact-title">
                <h1>Let our persuation comfort your life </h1>
            </div>
            <div class="contact-fomr">
                <form id="contact-fomr" method="POST" action="">
                    <input name="name" type="text" class="form-control padding" placeholder="First Name" required><br>
                    <input name="name" type="text" class="form-control padding" placeholder="Last Name" required><br>
                    <input name="email" type="email" class="form-control padding" placeholder="Email" required><br>
                    <input name="tel" type="tel" class="form-control padding" placeholder="Phone Number" required><br>
                    <textarea name="message" class="form-control padding" placeholder="Message" rows="3"
                        required></textarea><br>
                    <input type="submit" class="form-control submit" value="Send Message">
                </form>
            </div>
        </div>
          <!---Footer-->
          <div id="footer" class="footers" role="contentinfo">
            <div class="inner">
              <div class="logofooter">
                <a href="/TeacherPhung/realestate" class="footerlogo" id="logofooters">
                  <img
                    src="../../public/images/PageLogo/logo_main.png"
                    class="footerimage"
                  />
                </a>
              </div>
              <div id="footermenu" class="footermenu" role="navigation">
                <h2 class="titleblock"></h2>
                <ul class="menu">
                  <li class="menuitem">
                    <a href="../../contactestate" class="contact">Contact us</a>
                  </li>
                  <li class="menuitem">
                    <a href="#" class="term">Terms and Conditions</a>
                  </li>
                  <li class="menuitem">
                    <a href="#l" class="privacy">Privacy Policy</a>
                  </li>
                  <li class="menuitem">
                    <a href="#" class="career">Careers</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="social" class="socialmedia">
              <h1>Follow us:</h1>
              <ul class="footersocial">
                <div>
                  <a
                    href="https://www.facebook.com/nguyenhuycuong.nguyenhuycuong.33"
                    class="icon-fb"
                  >
                    <i class="fab fa-facebook-f" aria-hidden="true"></i
                  ></a>
                </div>
                <div>
                  <a href="https://www.instagram.com/binhanred/ " class="icon-insta"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </div>
                <div>
                  <a href="https://twitter.com/CuongHuyNg" class="icon-twit"
                    ><i class="fab fa-twitter" aria-hidden="true"></i
                  ></a>
                </div>
                <div>
                  <a
                    href="https://www.youtube.com/channel/UC0HdtBwDacmZQxQtM5qGw8Q/videos?view=57&flow=grid"
                    class="icon-youtb"
                    ><i class="fab fa-youtube" aria-hidden="true"></i
                  ></a>
                </div>
              </ul>
            </div>
            <div class="container">
              <form action="">
                <h1>Join Our Newsletter :</h1>
                <div class="email-box">
                  <i class="far fa-envelope"></i>
                  <input
                    class="tbox"
                    type="email"
                    name=""
                    value=""
                    placeholder="Enter your Email"
                  />
                  <button class="btn1" type="button" name="button">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
            <div>
              <a class="gotopbtn" href="#">
                <i class="fas fa-arrow-up"> </i>
              </a>
            </div>
=======

<head>
  <title>Real Estate Platform</title>
  <link rel="shortcut icon" href="/images/PageLogo/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/lib/fontawesome-free-5.8.1-web/css/all.min.css" />
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/contactestate.css" />
  <link href="/font/DancingScript.css" rel="stylesheet">
</head>

<body>
  <!---Header-->
  <section class="body1">
    <div id="navbar">
      <div class="logo">
        <a href="./realestate"><img src="/images/PageLogo/logo_main.png" width="inherit;" /></a>
      </div>
      <div><a href="">Buy</a></div>
      <div><a href="">Rent</a></div>
      <div><a href="">Sell</a></div>
      <div><a href="">Agent Finder</a></div>
      <div><a href="/signin" class="abc">Sign in</button></a></div>
      <div><a href="" class="abc">Help</a></div>
    </div>
    <!---Main-->
    <div class="contactBody">
      <div class="contact-title">
        <h1>Let our persuation comfort your life </h1>
      </div>
      <div class="contact-fomr">
        <form id="contact-fomr" method="POST" action="">
          <input name="name" type="text" class="form-control padding" placeholder="First Name" required><br>
          <input name="name" type="text" class="form-control padding" placeholder="Last Name" required><br>
          <input name="email" type="email" class="form-control padding" placeholder="Email" required><br>
          <input name="tel" type="tel" class="form-control padding" placeholder="Phone Number" required><br>
          <textarea name="message" class="form-control padding" placeholder="Message" rows="3" required></textarea><br>
          <input type="submit" class="form-control submit" value="Send Message">
        </form>
      </div>
    </div>
    <!---Footer-->
    <div id="footer" class="footers" role="contentinfo">
      <div class="inner">
        <div class="logofooter">
          <a href="/realestate" class="footerlogo" id="logofooters">
            <img src="/images/PageLogo/logo_main.png" class="footerimage" />
          </a>
        </div>
        <div id="footermenu" class="footermenu" role="navigation">
          <h2 class="titleblock"></h2>
          <ul class="menu">
            <li class="menuitem">
              <a href="../../contactestate" class="contact">Contact us</a>
            </li>
            <li class="menuitem">
              <a href="#" class="term">Terms and Conditions</a>
            </li>
            <li class="menuitem">
              <a href="#l" class="privacy">Privacy Policy</a>
            </li>
            <li class="menuitem">
              <a href="#" class="career">Careers</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="social" class="socialmedia">
        <h1>Follow us:</h1>
        <ul class="footersocial">
          <div>
            <a href="https://www.facebook.com/nguyenhuycuong.nguyenhuycuong.33" class="icon-fb">
              <i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://www.instagram.com/binhanred/ " class="icon-insta"><i class="fab fa-instagram"
                aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://twitter.com/CuongHuyNg" class="icon-twit"><i class="fab fa-twitter"
                aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://www.youtube.com/channel/UC0HdtBwDacmZQxQtM5qGw8Q/videos?view=57&flow=grid"
              class="icon-youtb"><i class="fab fa-youtube" aria-hidden="true"></i></a>
          </div>
        </ul>
      </div>
      <div class="container">
        <form action="">
          <h1>Join Our Newsletter :</h1>
          <div class="email-box">
            <i class="far fa-envelope"></i>
            <input class="tbox" type="email" name="" value="" placeholder="Enter your Email" />
            <button class="btn1" type="button" name="button">
              Subscribe
            </button>
>>>>>>> master
          </div>
        </form>
      </div>
      <div>
        <a class="gotopbtn" href="#">
          <i class="fas fa-arrow-up"> </i>
        </a>
      </div>
    </div>
  </section>
</body>

</html>