<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate Platform</title>
    <link rel="shortcut icon" href="../public/images/PageLogo/logo.png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
      <meta
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/menuestate.css"
    />
    <script>
      window.FontAwesomeConfig = {
        searchPseudoElements: true
      };
    </script>
    <link
      href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
      rel="stylesheet"
    />
    <script
      data-search-pseudo-elements
      defer
      src="https://use.fontawesome.com/releases/latest/js/all.js"
      integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="body1">
      <!--Header-->
      <div id="navbar">
        <div class="logo">
          <a
            ><img src="../../public/images/PageLogo/logo_main.png" width="inherit;"
          /></a>
        </div>
        <div class="fitem fitem_ffile"><a href="">Buy</a></div>
        <div><a href="">Rent</a></div>
        <div><a href="">Sell</a></div>
        <div><a href="">Agent Finder</a></div>
        <div><a href="" class="abc">Sign in</a></div>
        <div><a href="" class="abc">Help</a></div>
      </div>
      <!--Main-->
      <div class="main">
        <strong class="text" >Can I help you?</strong>
        <section>
          <div class="search">
            <div class="icon">
              <i class="fas fa-search"></i>
            </div>
            <form class="form">
              <div class="row">
                <div class="option">
                  <select>
                    <option>Property Type
                        <option>Home for Sale</option>
                        <option>Home For Rent</option>
                    </option>
                  </select>
                </div>
                <div class="option">
                  <select>
                    <option>City</option>
                    <option>Ha Noi</option>
                    <option>Ho Chi Minh</option>
                    <option>Can Tho</option>
                  </select>
                </div>
                <div class="option">
                  <select>
                    <option>District</option>
                    <option>District 4</option>
                    <option>District 1</option>
                    <option>Phu Nhuan District</option>
                  </select>
                </div>
                <div class="option">
                  <select>
                    <option>Price</option>
                    <option>10$-15$</option>
                    <option>16$-21$</option>
                    <option>22$-</option>
                  </select>
                </div>
                <div class="option">
                  <input type="submit" name="" value="Search" />
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
      <!--Footer-->
      <div id="footer" class="footers" role="contentinfo">
        <div class="inner">
          <div class="logofooter">
            <a href="././homepage" class="footerlogo" id="logofooters">
              <img
                src="../../public/images/PageLogo/logo_main.png"
                class="footerimage"
              />
            </a>
          </div>
          <div id="footermenu" class="footermenu" role="navigation">
            <h2 class="titleblock"></h2>
            <ul class="menu">
              <li class="menuitem">
                <a href="#" class="contact">About</a>
              </li>
              <li class="menuitem">
                <a href="#" class="term">Terms and Conditions</a>
              </li>
              <li class="menuitem">
                <a href="#l" class="privacy">Privacy Policy</a>
              </li>
              <li class="menuitem">
                <a href="#" class="career">Careers</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="social" class="socialmedia">
          <h1>Follow us:</h1>
          <ul class="footersocial">
            <div>
              <a
                href="https://www.facebook.com/nguyenhuycuong.nguyenhuycuong.33"
                class="icon-fb"
              >
                <i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://www.instagram.com/binhanred/ " class="icon-insta"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://twitter.com/CuongHuyNg" class="icon-twit"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a
                href="https://www.youtube.com/channel/UC0HdtBwDacmZQxQtM5qGw8Q/videos?view=57&flow=grid"
                class="icon-youtb"
                ><i class="fab fa-youtube" aria-hidden="true"></i
              ></a>
            </div>
          </ul>
        </div>
        <div class="container">
          <form action="">
          <h1>Join Our Newsletter :</h1>
            <div class="email-box">
              <i class="far fa-envelope"></i>
              <input
                class="tbox"
                type="email"
                name=""
                value=""
                placeholder="Enter your Email"
              />
              <button class="btn1" type="button" name="button">
                Subscribe
              </button>
            </div>
          </form>
        </div>
        <div>
          <a class="gotopbtn" href="#">
            <i class="fas fa-arrow-up"> </i>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
