<div id="navbar">
  <div class="logo">
<<<<<<< HEAD
    <a href="./realestate"
      ><img src="/images/PageLogo/logo_main.png" width="inherit;"
    /></a>
=======
    <a href="./realestate"><img src="/images/PageLogo/logo_main.png" width="inherit;" /></a>
>>>>>>> master
  </div>
  <div><a href="">Buy</a></div>
  <div><a href="">Rent</a></div>
  <div><a href="">Sell</a></div>
  <div><a href="">Agent Finder</a></div>
  <div><a href="/signin" class="abc">Sign in</a></div>
  <div><a href="" class="abc">Help</a></div>
</div>
