<div id="navbar">
  <div class="logo">
    <a href="./realestate.html"><img src="../../public/images/PageLogo/logo_main.png" width="inherit;" /></a>
  </div>
  <div><a href="">Buy</a></div>
  <div><a href="">Rent</a></div>
  <div><a href="">Sell</a></div>
  <div><a href="">Agent Finder</a></div>
  <div><a href="../../html/signin.html" class="abc">Sign in</a></div>
  <div><a href="" class="abc">Help</a></div>
</div>