<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate Platform</title>
    <link rel="shortcut icon" href="/public/images/PageLogo/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/stylesheet/salehome.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="body1">
      <!--HEADER-->
      <div id="navbar">
        <div class="logo">
          <a href="./realestate.html"
            ><img
              src="../../public/images/PageLogo/logo_main.png"
              width="inherit;"
          /></a>
        </div>
        <div><a href="">Buy</a></div>
        <div><a href="">Rent</a></div>
        <div><a href="">Sell</a></div>
        <div><a href="">Agent Finder</a></div>
        <div><a href="../../html/signin.html" class="abc">Sign in</a></div>
        <div><a href="" class="abc">Help</a></div>
      </div>
      <!--MAINPAGE-->
      <div class="mainmenu">
        <P class="titlerent">Thông tin nhà cho thuê</P>
        <form action="#">
          <div class="posting">
            <input
              type="text"
              id="text"
              class="aa"
              name="tieude"
              placeholder="Tiêu đề"
            />
            <br />
            <input
              type="text"
              id="text"
              class="aa"
              name="tenchusohuu"
              placeholder="Tên chủ sở hữu"
            />
            <br />
            <input
              type="text"
              class="aa"
              id="text"
              name="diachi"
              placeholder="Địa chỉ"
            />
            <br />
            <input
              type="text"
              id="text"
              name="giatri"
              class="aa"
              placeholder="Giá trị "
            />
            <br />
            <input
              type="text"
              id="text"
              name="dientich"
              class="aa"
              placeholder="Diện tích"
            />
            <br />
            <div class="tienich">
              <p class="tienichtitle">Tiện ích</p>
              <div class="details">
                <div class="row1">
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Wifi
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Cảnh quan đẹp
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Không gian rộng
                </div>
                <div class="row2">
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Sân bay
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Trường Học
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Chợ
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Khu thương mại
                </div>
                <div class="row3">
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Máy lạnh
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Máy Giặt
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Máy sấy tóc
                  <input
                    type="checkbox"
                    name="checkbox"
                    style="margin-right: 5px;margin-left: 10px;"
                  />
                  Máy hút bụi
                </div>
              </div>
            </div>
            <div class="idcard">
              <p class="cmnd">Identification Card :</p>
              <input
                type="file"
                id="file"
                name="file"
                class=" aa file"
                value="fileUpload"
              />
            </div>
            <div class="idcard">
              <p class="cmnd">Legal Dcument:</p>
              <input
                type="file"
                id="file"
                name="file"
                class=" aa file"
                value="fileUpload"
              />
            </div>
          </div>
          <div class="dieukhoan">
            <input
              type="checkbox"
              name="checkbox"
              style="margin-right: 10px;"
            />
            <label
              >Tôi cam kết đẽ đọc những
              <a href="#"><span>điều khoản</span></a> về đăng tin</label
            >
          </div>
          <a href="./billingafterpost.html"
            ><button type="button" class="save">Đăng tin</button></a
          >
          <a href="./typeproperty.html"
            ><button type="button" class="save">Trở về</button></a
          >
        </form>
      </div>
      <!--FOOTER-->
      <div id="footer" class="footers" role="contentinfo">
        <div class="inner">
          <div class="logofooter">
            <a
              href="../../html/TeacherPhung/realestate.html"
              class="footerlogo"
              id="logofooters"
            >
              <img
                src="../../public/images/PageLogo/logo_main.png"
                class="footerimage"
              />
            </a>
          </div>
          <div id="footermenu" class="footermenu" role="navigation">
            <h2 class="titleblock"></h2>
            <ul class="menu">
              <li class="menuitem">
                <a href="./contactestate.html" class="contact">Contact us</a>
              </li>
              <li class="menuitem">
                <a href="#" class="term">Terms and Conditions</a>
              </li>
              <li class="menuitem">
                <a href="#l" class="privacy">Privacy Policy</a>
              </li>
              <li class="menuitem">
                <a href="#" class="career">Careers</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="social" class="socialmedia">
          <h1>Follow us:</h1>
          <ul class="footersocial">
            <div>
              <a
                href="https://www.facebook.com/nguyenhuycuong.nguyenhuycuong.33"
                class="icon-fb"
              >
                <i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://www.instagram.com/binhanred/ " class="icon-insta"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a href="https://twitter.com/CuongHuyNg" class="icon-twit"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </div>
            <div>
              <a
                href="https://www.youtube.com/channel/UC0HdtBwDacmZQxQtM5qGw8Q/videos?view=57&flow=grid"
                class="icon-youtb"
                ><i class="fab fa-youtube" aria-hidden="true"></i
              ></a>
            </div>
          </ul>
        </div>
        <div class="container">
          <form action="">
            <h1>Join Our Newsletter:</h1>
            <div class="email-box">
              <i class="far fa-envelope"></i>
              <input
                class="tbox"
                type="email"
                name=""
                value=""
                placeholder="Enter your Email"
              />
              <button class="btn1" type="button" name="button">
                Subscribe
              </button>
            </div>
          </form>
        </div>
        <div>
          <a class="gotopbtn" href="#">
            <i class="fas fa-arrow-up"> </i>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
