<html>

<head>

</head>

<body>
  <form action="/test" method="POST" enctype="multipart/form-data">
    <input type="file" multiple="multiple" name="images" accept='image/*'>
    <button type="submit">submit</button>
  </form>
</body>

</html>